header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2024;
    padding: 4.7rem 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        display: flex;
        gap: 3.5rem;
        a{
            position: relative;
            color: #514B4B;
            font-family: "Roboto Mono";
            font-size: 1rem;
            font-weight: 400;
            line-height: 155.3%; /* 1.553rem */
            letter-spacing: 0.06rem;
            &:actived{
                color: var(--BLACK);
                &:befor{
                    content: "";
                    width: 4px;
                    height: 26px;
                    background: url("/img/Line-iten-active.svg") no-repeat center;
                    position: absolute;
                }
            }
            &:hover{
                color: var(--BLACK);
                font-weight: bold;
            }
        }
    }
}