header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2024;
    padding: 4.7rem 0;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        display: flex;
        gap: 3.5rem;
        a{
            position: relative;
            color: #514B4B;
            font-family: "Roboto Mono";
            font-size: 1rem;
            font-weight: 400;
            line-height: 155.3%; /* 1.553rem */
            letter-spacing: 0.06rem;
            &.actived{
                color: var(--BLACK);
                font-weight: bold;
                &:before{
                    content: "";
                    width: 4px;
                    height: 3.2rem;
                    background: url("/img/Line-iten-active.svg") no-repeat center;
                    position: absolute;
                    left: 50%;
                    margin-left: -2px;
                    top: -36px;
                }
            }
            &:hover{
                color: var(--YELLOW-SECONDARY);
                font-weight: bold;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        img{
            transition: all 0.3s ease;
        }
        e:hover img{
            filter: brightness(0) saturate(100%) invert(77%)
            sepia(97%) saturate(347%) hue-rotate(359deg) 
            brightness(104%) contrast(104%);
        }
    }
}