.s-hero{
    position: relative;
    width: 100%;
    height: 95.5rem;
    background: url("../img/background-hero.png") no-repeat top center;
    background-size: cover;
    .text-left{
        width: 100%;
        max-width: 63rem;
        padding-top: 29rem;
    }
    .title{
        margin-bottom: 4rem;
        h1{
            color: #868686;
            font-size: 6.5625rem;
            font-weight: 400;
            line-height: 72%;
            span{
                font-family: "Road Rage";
                color: var(--BLACK-PRIMARY);
            }
            img{
                transform: translateY(-10px);
            }
        }
    }
}