.s-hero{
    position: relative;
    width: 100%;
    height: 95.5rem;
    background: url("../img/paper-texture.avif") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    .text-left{
        width: 100%;
        max-width: 63rem;
        padding-top: 29rem;
    }
    .tittle{
        margin-bottom: 4rem;
        h1{
            color: var(--TEXT-BODY);
            font-size: 6.5625rem;
            font-weight: 400;
            line-height: 72%;
            span{
                font-family: "Road Rage";
                color: var(--BLACK);
            }
            img{
                margin-top: -50px;
            }
        }
    }
    p{
                color: var(--TEXT-BODY);
                font-size: 1.6rem;
                line-height: 155.3%; 
                margin-bottom: 4.5rem;
            }
            button{
                display: flex;
                align-items: center;
                gap: 8px;
                span{
                    color: var(--BLACK);
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: var(--YELLOW-SECONDARY);
                    font-family: "Road Rage", sans-serif;
                    font-size: 4rem;
                    letter-spacing: 2px;
                }
            }
            .users{
                margin-top: 10rem;
                display: flex;
                align-items: center;
                gap: 16px;
                ul{
                        display: flex;
                        align-items: center;
                            li{
                                background-color: var(--WHITE);
                                border: 2px solid var(--YELLOW-SECONDARY);
                                border-radius: 100%;
                                width: 5rem;
                                height: 5rem;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                &:not(:first-child){
                                    margin-left: -10px;
                                }
                            }
                }
                strong{
                    color: var(--BLACK-SECONDARY);
                    font-size:1.4rem;
                    font-weight: bold;
                    line-height: 155.3%; /* 1.35888rem */
                    letter-spacing: 2px;
                }
            }
            .illustration{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            @media(max-width: 1700px){
                    .illustration{
                        right: -20rem;
                    }
            }
            @media(max-widht: 1440px){
                .illustration{
                    right: -36rem;
                }
            }
}
.s-numbers{
    padding-bottom: 4rem;
    padding-bottom: 12.2rem;
    p{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        color: var(--BLACK-PRIMARY);
        font-size: 1.6rem;
        line-height: 155.3%;
        margin-bottom: 102px;
    }
    .box{
        width: 100%;
        height: 27.7rem;
        max-width: 85rem;
        margin: 0 auto;
        border-radius: 20px;
        border: 1.5px solid var(--BORDER-COLOR);
        position: relative;
        padding: 5px;
        .ilustra-img{
            position: absolute;
            top: -7.5rem;
            left: -20px;
            z-index: 1;
        }
        .content{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: var(--YELLOW-SECONDARY);
        }
    }
}