/**
Section-hero-css
*/
.s-hero{
    position: relative;
    width: 100%;
    height: 95.5rem;
    background: url("../img/paper-texture.avif") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    .text-left{
        width: 100%;
        max-width: 63rem;
        padding-top: 29rem;
    }
    .tittle{
        margin-bottom: 4rem;
        h1{
            color: var(--TEXT-BODY);
            font-size: 6.5625rem;
            font-weight: 400;
            line-height: 72%;
            span{
                font-family: "Road Rage";
                color: var(--BLACK);
            }
            img{
                margin-top: -50px;
            }
        }
    }
    p{
                color: var(--TEXT-BODY);
                font-size: 1.6rem;
                line-height: 155.3%; 
                margin-bottom: 4.5rem;
            }
            button{
                display: flex;
                align-items: center;
                gap: 8px;
                span{
                    color: var(--BLACK);
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: var(--YELLOW-SECONDARY);
                    font-family: "Road Rage", sans-serif;
                    font-size: 4rem;
                    letter-spacing: 2px;
                }
            }
            .users{
                margin-top: 10rem;
                display: flex;
                align-items: center;
                gap: 16px;
                ul{
                        display: flex;
                        align-items: center;
                            li{
                                background-color: var(--WHITE);
                                border: 2px solid var(--YELLOW-SECONDARY);
                                border-radius: 100%;
                                width: 5rem;
                                height: 5rem;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                &:not(:first-child){
                                    margin-left: -10px;
                                }
                            }
                }
                strong{
                    color: var(--BLACK-SECONDARY);
                    font-size:1.4rem;
                    font-weight: bold;
                    line-height: 155.3%; /* 1.35888rem */
                    letter-spacing: 2px;
                }
            }
            .illustration{
                position: absolute;
                bottom: 0;
                right: 0;
            }
            @media(max-width: 1700px){
                    .illustration{
                        right: -20rem;
                    }
            }
            @media(max-widht: 1440px){
                .illustration{
                    right: -36rem;
                }
            }
}
/**
Section-numbers-css
*/
.s-numbers{
    padding-top: 4rem;
    padding-bottom: 12.2rem;
    p{
        text-align: center;
        color: var(--BLACK-PRIMARY);
        font-size: 1.6rem;
        line-height: 155.3%;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 10.5rem;
    }
    .box{
        width: 100%;
        height: 27.7rem;
        max-width: 85rem;
        margin: 0 auto;
        border-radius: 20px;
        border: 2px solid var(--BORDER-COLOR);
        position: relative;
        padding: 5px;
        .ilustra-img{
            position: absolute;
            top: -7.5rem;
            left: -20px;
            z-index: 1;
        }
        .content{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 45px;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: var(--YELLOW-SECONDARY);
            ul{
                display: flex;
                li{
                    text-align: center;
                    padding: 1.5rem 2.1rem;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                    &:not(:first-child){
                        border-left: 2px solid rgba(255,255, 255,0.5);

                    }
                    strong{
                        display: block;
                        color: var(--BLACK);
                        font-size: 1.4rem;
                        line-height: 155.5%;
                        margin-bottom: 1.4rem;
                    }
                    h3{
                        color: var(--WHITE);
                        font-weight: 400;
                        font-size: 7.5rem;
                        line-height: 1;
                    }
                }
            }
        }
    }
}
/**
Section-how-to-use-css
*/
.s-how-to-use{
    position: relative;
    background-color: var(--BACKGROUND-COLOR);
    padding-top: 10.5rem ;
    padding-bottom: 10.5rem;
    .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .left-container{
        flex: 1;
        max-width: 50rem;
        ul{
            li{
                           margin-bottom: 41px; 
            }
        }
    }
}