:root {
    --BLACK-PRIMARY: #1B1B1B;
    --BLACK-SECONDARY: #242424;
    --BACKGROUND-COLOR: #F8F8F8;
    --BACKGROUND-COLOR-TEST: lch(52.82% 82.5 33.49 / 0.363);
    --YELLOW-SECONDARY: #FCC26B;
    --WHITE: #FFFFFF;
    --BLACK: #000000;
    --TEXT-BODY: #868686;
    --TEXT-COLOR: #C5C5C5;
    --TEXT-COLOR-SECONDARY: #8E8E8E;
    --BORDER-COLOR: #ffe0b1;
    --BORDER-RADIUS-COLOR: #D9D9D9;
}